body {
    font-family: Love Ya Like A Sister;
    background-color: #bb8ff5;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 1em;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}
